<tr>
  <td><%= request.method %></td>
  <td><%= request.url %></td>
  <td><%= request.query %></td>
  <td><%= request.status %></td>
  <td><%= request.request_body %></td>
  <td><%= request.response_body %></td>
  <td><%= request.created_at %></td>
</tr>
